.fourth-block {
    padding-top: 44px;

    &__btn {
        display: block;
        margin: 55px auto 135px;
        width: 336px;
        height: 48px;
        border: none;
        color: #ffffff;
        background: #ff6b08;
        font-size: 14px;
        line-height: 17px;
        font-weight: 900;
        letter-spacing: 2px;
        text-transform: uppercase;
        box-shadow: 0px 9px 13px 0px rgba(184, 93, 39, 0.26);
        cursor: pointer;
        transition: all .3s linear;
    
        &:hover {
            box-shadow: rgba(255, 107, 8, .6) 0px 0px 43px 0px;
        }
    }
}

.confirm {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 416px;
    height: 305px;
    margin: 0 auto;

    &__inner-left {
        flex-basis:48%;
        text-align: right;
        padding-top: 48px;
    }

    &__inner-right {
        display: flex;
        flex-direction: column;
        flex-basis: 48%;
        margin-left: 10px;
        padding-top: 48px;
    }
}

.inner__title {    
    font-weight: 700;
    font-size: 12.5px;
    display: inline-block;
    text-align: right;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000000;
    line-height: 1.3em;
    margin-top: 4px;

    &:first-child {
        margin-top: 0;
    }

    &:nth-child(2n+2) {
        margin-top: 26px;
    }
}

.inner__sub-title {
    position: relative;
    font-weight: 700;
    font-size: 12.5px;
    display: inline-block;
    text-transform: uppercase;
    color: #000000;
    line-height: 1.3em;
    margin-top: 4px;

    &:first-child {
        margin-top: 2px;
    }

    &:nth-child(-2n+2) {
        margin-top: 47px;
    }

    &:nth-child(3n+3) {
        margin-top: 25px;
    }
}

.inner__sub-title--old-price::before {
    content: "";
    position: absolute;
    display: block;
    height: 70px;
    left: 32px;
    top: -29px;
    width: 3px;
    transform: rotate(79deg);
    background-color: #ff6b08;
}

.text--orange {
    font-size: 15px;
    width: 280px;
    font-weight: 500;
    color: #ff6b08;
    position: relative;
    margin-top: 20px;
    padding-left: 40px;
    line-height: 1.4em;
    margin-left: auto;
    margin-right: auto;

    &::before {
        content: "";
        position: absolute;
        display: block;
        height: 30px;
        left: 10px;
        top: 6px;
        width: 3px;
        transform: rotate(30deg);
        background-color: #000000;
    }
}